<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/jurusanBeranda.css">
    <title>Jurusan</title>
</head>

<body>
    <%- include('sidebar') %>
    <div class="hasil">
        <h1>Beranda <%= userProdi.nama_prodi %> </h1>
    </div>
</body>
    <script src="../javascripts/berandaJurusan.js"></script>
</html>