<div class="menu">
    <div class="profile">
        <div class="profile-icon">
            <img src="profile_icon.png" alt="Profile Icon">
        </div>
        <div class="email">
            <a href="/prodi">
                <%= userEmail %>
            </a>
        </div>
    </div>
    <div class="detail-menu">
        <ul>
            <li><a href="/prodi/matakuliah" class="matakuliah">Manajemen Mata Kuliah</a></li>
            <li><a href="/prodi/dosen" class="dosen">Manajemen Dosen</a></li>
            <li><a href="/prodi/perkuliahan" class="perkuliahan">Manajemen Perkuliahan</a></li>
        </ul>
    </div>
    <div class="keluar" id="keluarBtn">Keluar</div>
</div>