<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Change Password</title>
	</head>
	<body>
		<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="UTF-8" />
				<meta
					name="viewport"
					content="width=device-width, initial-scale=1.0"
				/>
				<title>Lupa password</title>
				<link
					rel="stylesheet"
					href="/stylesheets/style.css"
				/>
				<link
					href="https://fonts.googleapis.com/css?family=Poppins"
					rel="stylesheet"
				/>
				<link
					rel="stylesheet"
					href="/stylesheets/changePassword.css"
				/>
			</head>
			<body class="h-screen fixed w-full">
				<nav class="bg-white">
					<a href="/login">
						<img
							src="./images/navbar_unand.png"
							alt="Logo Universitas Andalas"
							class="w-1/5"
						/>
					</a>
				</nav>
				<div>
					<div class="flex bg-black/10 h-screen">
						<div class="w-1/2">
							<div
								class="flex flex-col bg-white border shadow-sm rounded-t-xl w-3/4 m-auto mt-20 p-10 h-screen space-y-2"
							>
								<form
									method="post"
									action="/auth/change-password"
									class="my-2"
								>
									<div>
										<h1 class="text-5xl font-bold">Ubah Password</h1>
										<p class="font-medium my-10">
											Buat kata sandi baru. Pastikan itu berbeda dari <br />yang
											sebelumnya untuk keamanan
										</p>
									</div>
									<div>
										<label
											for="email"
											class="block text-sm font-normal mb-2"
											>Email</label
										>
										<input
											type="email"
											id="email"
											name="email"
											class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm bg-gray-300"
										/>
									</div>
									<div>
										<label
											for="password"
											class="block text-sm font-normal mb-2"
											>New Password</label
										>
										<input
											type="password"
											id="password"
											name="password"
											class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm bg-gray-300"
										/>
									</div>

									<button
										type="submit"
										class="bg-[#1ABC00] rounded-xl py-3 mt-3 text-black text-lg w-full"
									>
										Update Password
									</button>
								</form>
							</div>
						</div>
						<img
							src="./images/logo_unand.svg"
							alt="Logo Universitas Andalas"
							class="w-1/4 m-auto"
						/>
					</div>
				</div>
				<script src="../node_modules/preline/dist/preline.js"></script>
				<script src="https://cdn.tailwindcss.com"></script>
			</body>
		</html>
	</body>
</html>