<% include layouts/header.ejs %>

<div class="card">
  <div class="container mt-5 text-center">
    <img width="300px" src="<%= baseUrl %>/images/logo-unand.jpeg" alt="">
    <h1 class="text-center">Pendaftaran Kelas Antar Prodi</h1>
    <p class="lead text-center">Selamat datang di sistem pendaftaran kelas antar program studi. Silakan daftar untuk mengikuti kelas-kelas yang tersedia.</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Isi halaman akan dimasukkan di sini -->
            <!-- Misalnya: form pendaftaran, daftar kelas, dsb. -->
        </div>
    </div>
  </div>
</div>


<% include layouts/footer.ejs %>
