extends layout 
body
    .profile-container
      .profile-header
        .profile-picture
          img(src="path/to/profile.jpg" alt="Profile Picture")
        .profile-info
          h1 John Doe
          p Software Engineer
          .location-text
            i.fas.fa-map-marker-alt
            span Padang, Indonesia
      .about-me
        h2 About Me
        p (Your brief introduction here.)
      .contact
        h2 Contact
        ul
          li
            i.fas.fa-envelope
            a(href="mailto:johndoe@example.com") johndoe@example.com
          li
            i.fab.fa-linkedin
            a(href="https://www.linkedin.com/in/johndoe") John Doe (LinkedIn)
      .skills
        h2 Skills
        ul
          li  Skill 1
          li  Skill 2
          li  Skill 3