<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupa Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: rgb(219, 220, 221);">
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>
    
    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %> 
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div style="text-align: center;" class="mt-3 mb-3">
                    <img width="300px" src="<%= baseUrl %>/images/logo-unand.jpeg" alt="">
                </div>
                <div class="card-header">Lupa Password</div>
                <div class="card-body">
                    <form action="/send-email" method="POST">
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="email" class="form-control" id="username" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Kirim Link Rubah Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
